extends layout

block content
  section.offers
    .heading 
      p Problem #[span z psem] czy<br />#[span pies z] problemami?  
    p.info Proponujemy Wam treningi dla psów dorosłych oraz szczeniąt. Uczymy zachowań pożądanych, socjalizujemy, pracujemy nad opanowaniem emocji, rozwiązujemy problemy behawioralne.<br />#[span Zapraszamy do zapoznania się z ofertą:]
    each item in offerData
      .offer
        .offerimg
          img(src=item.imageURL, alt=item.title)
        h2=item.title
        .description 
          p=item.description
    .arrow-right
      img(src="images/arrow.png", alt="Następna zakładka")
    .arrow-left  
      img(src="images/arrow.png", alt="Poprzednia zakładka")    
  script(src="javascripts/hamburger.js") 
  script(src="javascripts/offers.js")        

