extends layout

block content
  section.about 
    h1.title='O nas' 
    p.description='Duet Uszy do góry tworzą:'
    .portret
      img(src="images/aboutada.jpg", alt="Ada i Dzik")
    p.name='ada'
    .portret
      img(src="images/aboutdominika.jpg", alt="Ada i Dzik")
    p.name='dominika'
  script(src="javascripts/hamburger.js") 