main {
  position: relative;
  height: 118vh;
  overflow: hidden;
  margin-top: 30px;
  padding: 0 5%;
  color: #212529;
  font-size: 36px;
  font-family: Lato, Arial, Helvetica, sans-serif;
}

.logo {
  position: relative;
  width: 120px;
  height: 120px;
  padding: 10px;
  border: 3px solid #e19190;
  border-radius: 100%;
}

.logo a {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 140px;
  z-index: 1;
  outline: none;
}

.logo a:focus {
  outline: none;
}

.logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburger {
  position: absolute;
  width: 140px;
  height: 140px;
  padding: 10px;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  background-color: white;
}

.hamburger:focus {
  outline: none;
}

.hamburger.clicked {
  transform: rotate(90deg);
}

.hamburger span {
  display: block;
  width: 50px;
  height: 5px;
  position: absolute;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
  transition-duration: 0.3s;
  transition-delay: 0.3s;
}

.hamburger span:nth-child(1) {
  top: 40%;
}

.hamburger span.clicked:nth-child(1) {
  top: 50%;
  left: 35%;
  transform: rotate(45deg);
}

.hamburger span:nth-child(2) {
  top: 50%;
}

.hamburger span.clicked:nth-child(2) {
  opacity: 0;
}

.hamburger span:nth-child(3) {
  top: 60%;
}

.hamburger span.clicked:nth-child(3) {
  top: 50%;
  left: 35%;
  transform: rotate(-45deg);
}

nav {
  opacity: 0%;
  position: absolute;
  top: 200px;
  right: -171%;
  width: 100%;
  height: calc(100vh - 200px);
  transition: opacity 0.3s 0.3s, right 0.6s;
  background-color: white;
}

nav.show {
  opacity: 100%;
  top: 200px;
  right: 0;
}

nav ul {
  position: relative;
  margin-top: 50px;
  height: 70vh;
}

nav li {
  width: 100%;
  height: 150px;
  list-style: none;
  border-bottom: 3px solid #656565;
}

nav li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

nav li a:focus {
  background-color: rgba(225, 145, 144, 0.7);
}

nav li a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #212529;
  font-size: 42px;
  letter-spacing: 2px;
}

nav ul .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #656565;
  width: 100%;
  height: 10vh;
}

nav .footer .socialmedia {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 70%;
}

nav .socialmedia a {
  position: relative;
  display: block;
  width: 30%;
  height: 100%;
}

nav .socialmedia a img {
  position: absolute;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.blog {
  position: relative;
  left: -10%;
  height: 100vh;
  width: 120%;
  padding-top: 100px;
  margin-top: 55px;
  background-color: #C1D5C8;
}

section.blog h1.title {
  padding-bottom: 100px;
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 90px;
  letter-spacing: 2px;
  font-weight: normal;
}

section.blog article {
  text-align: center;
  padding: 0 10%;
}

section.blog article p.date {
  display: inline-block;
  width: 55%;
  margin-top: 20px;
  text-align: left;
}

section.blog article h2 {
  margin: 20px 0px;
  font-family: 'Amatic SC', cursive;
  font-size: 90px;
  color: #e19190;
  text-shadow: 0px 0px 0px #212529;
  letter-spacing: 2px;
}

section.blog article .summary {
  letter-spacing: 2px;
  line-height: 1.5;
}

section.blog article .author {
  display: inline-block;
  width: 40%;
  padding-right: 30px;
  margin-top: 20px;
  text-align: right;
}

section.blog article button {
  width: 320px;
  height: 82px;
  margin-top: 40px;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #0085D3;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
  color: #0085D3;
  letter-spacing: 4px;
  font-family: Lato, Arial, Helvetica, sans-serif;
}