main {
  margin-top: 30px;
  padding: 0 10%;
  box-sizing: border-box;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

header {
  position: relative;
}

li {
  list-style: none;
  display: none;
}

.logo {}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
}