main {
  height: 160vh;
}

section.about {
  height: 120vh;
  min-height: 2263px;
  margin-top: 150px;
  text-align: center;
}

section.about h1 {
  margin-bottom: 50px;
  font-family: 'Poiret One', cursive;
  font-size: 90px;
  letter-spacing: 2px;
  font-weight: normal;
}

section.about p.description {
  line-height: 1.5;
  letter-spacing: 2px;
}

section.about .portret {
  margin-top: 100px;
  height: 814px;
}

section.about p.name {
  font-family: 'Amatic SC', cursive;
  color: #e19190;
  text-transform: uppercase;
  font-size: 90px;
  text-shadow: 1px 1px 0px #212529;
  margin-top: 0;
}